<% content_for :body_class, "bg-black" %>

<div class="home-container">
  <h1 class="home-title">RESTAURANT R<span class="wheel-icon"></span>ULETTE</h1>

  <main>
    <div class="controls">
      <h2>Let the <strong>Wheel</strong> pick your next <strong>meal</strong></h2>

      <%= link_to "Solo Spin", solo_spin_path, class: "button" %>
      <%= link_to "Create Room", create_room_path, class: "button" %>

      <%= form_with(url: join_room_path, class: "join-form") do |form| %>
        <%= form.text_field :room_code, placeholder: "Enter Room Code", value: flash[:submitted_code]%>
        <%= form.button "Join Room", class: "button" %>
        <% end %>

        <% if flash[:alert] %>
          <div class="flash-alert" style="color: #ef4444; margin-top: 8px;">
            <%= flash[:alert] %>
          </div>
        <% end %>
    </div>

    <div class="wheel-container">
      <div id="roulette-wheel-graphic">
                   </div>
    </div>
  </main>
</div>