<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Restaurant Roulette" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="<%= content_for(:body_class) || 'bg-white' %>">
    <header class="main-navbar">
      <div class="navbar-logo">
        <%= link_to root_path do %>
          <%= image_tag "logo.png", alt: "Restaurant Roulette Logo" %>
        <% end %>
      </div>

      <div class="user-auth-links" data-controller="dropdown">
        <% if user_signed_in? %>
          <span class="profile-email" data-action="click->dropdown#toggle">
            <%= current_user.full_name %>
          </span>

          <div data-dropdown-target="menu" class="dropdown-menu" hidden>
            <%= link_to "View History", "#", class: "dropdown-item" %>
            <%= link_to "Log Out", destroy_user_session_path, 'data-turbo-method': :delete, class: "dropdown-item" %>
          </div>
        <% else %>
          <%= link_to "Log In", new_user_session_path, class: "login-button" %>
        <% end %>
      </div>
    </header>

    <% skip_main = content_for?(:skip_main_container) || controller_name == 'sessions' || controller_name == 'registrations' %>
    <% if skip_main %>
      <%= yield %>
    <% else %>
      <main class="container mx-auto mt-28 px-5">
        <%= yield %>
      </main>
    <% end %>
  </body>
</html>
